@CHARSET "ISO-8859-1";


#headerId {
	text-align: center;
	background: #ddcccc;
	font-size: 200%;
}


body {
	background: #cceeee;
}

.tabMenuClass {
	border:none;
	background: blue;
	color: red;

}

.layoutHomeCenter {
	width: 100%;
	height: 620px;
}

.ui-widget
 {
 	font-size: 90%  !important
 	
 }
.ui-widget .ui-state-hover:hover{
		
		background: #aabbaa;
		opacity: .8
	}


.button {
	
	color: red;
	height: 25px;
	width: 120px;
	cursor: pointer;
}

#signInForm {
	margin-left: 60%;
}
#signOutForm {
	margin-left: 88%
} 
.button:hover {
	background: #cceeaa;
}



.searchForm {
	width: 40%;
    margin-right: 30%;
    margin-left: 30%;
}

#footerId {
	margin-top: 590px;
	text-align: center;
	background: #aaccaa;
}

